/*!
 * Theme: GrainHolding / Russkiy Hleb
 * Author: Andrey Galkin
 * Version: 1.2
 */

/*------------------------------------------------------------------

+ IMPORT FONTS
+ ROOT
+ TYPOGRAPHY
+ LINKS
+ FORMS
+ BUTTONS
+ BASE STYLES

+ CONTENT
  + HEADER
  + MENU
  + FOOTER
  + MAIN CONTENT

+ PAGES
  + PAGE INDEX.HTML
  + PAGE BRANDS.HTML
  + PAGE BLOG.HTML
  + PAGE GDE-KUPIT.HTML
  + PAGE PARTNERS.HTML
  + PAGE AKCII.HTML
  + PAGE RAZVITIE.HTML
  + PAGE VAKANSII.HTML
  + PAGE PRODUCT-ITEM.HTML
  + PAGE BLOG-ITEM.HTML

-------------------------------------------------------------------*/

/*//////////////////////////////////////////////////////////////////
[ IMPORT FONTS ]*/

/* https://fontsloader.com/types/roboto */
@import url('../fonts/roboto/stylesheet.css');

@import url('../fonts/als_mirta/stylesheet.css');

/*//////////////////////////////////////////////////////////////////
[ ROOT ]*/

:root {
  --theme-color-green: #6fba1f;
  --theme-color-black: #212529;
  --theme-color-white: #FFFFFF;
  --theme-color-light: #fafafa;
  --theme-color-gray-light: #B8B8B8;
  --theme-font-main: 'Roboto', sans-serif;
  --theme-font-title: 'ALS Mirta', sans-serif;
  --theme-fw-light: 300;
  --theme-fw-regular: 400;
  --theme-fw-medium: 500;
}

body {
  margin: 0;
  font-family: var(--theme-font-main);
  font-size: 0.93rem;
  font-weight: 300;
  line-height: 1.35;
  color: var(--theme-color-black);
  background-color: var(--theme-color-light);
}

/*//////////////////////////////////////////////////////////////////
[ TYPOGRAPHY ]*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.75rem;
  font-family: var(--theme-font-title);
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 3.4rem;
  }

  h2,
  .h2 {
    font-size: 2.7rem;
  }

  h3,
  .h3 {
    font-size: 2.5rem;
  }

  h4,
  .h4 {
    font-size: 1.5rem;
  }

  h5,
  .h5 {
    font-size: 1.25rem;
  }

  h6,
  .h6 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .fs-1 {
    font-size: 3.4rem !important;
  }

  .fs-2 {
    font-size: 2.7rem !important;
  }

  .fs-3 {
    font-size: 2.5rem !important;
  }

  .fs-4 {
    font-size: 1.5rem !important;
  }

  .fs-5 {
    font-size: 1.25rem !important;
  }

  .fs-6 {
    font-size: 1rem !important;
  }
}

.small {
  font-size: 0.93rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

/*//////////////////////////////////////////////////////////////////
[ LINKS ]*/

a {
  color: var(--theme-color-black);
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover,
a:focus {
  color: var(--theme-color-green);
}

.link-underline {
  border-bottom: 1px solid;
  border-color: rgba(111, 186, 31, 0.3);
}

.link-underline:hover {
  border-color: var(--theme-color-green);
}

/*//////////////////////////////////////////////////////////////////
[ FORMS ]*/

input,
textarea,
label {
  display: block;
  outline: none;
  border: none;
}

.form-control,
.form-select {
  color: var(--theme-color-gray-light);
  height: auto;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
}

.form-select {
  padding-right: 2.25rem;
  background-image: url(../images/icons/select.svg);
}

.form-control:focus,
.form-select:focus {
  border-color: var(--theme-color-green);
  box-shadow: 0 0 0 0.25rem rgb(101 169 29 / 50%);
}

/*//////////////////////////////////////////////////////////////////
[ BUTTONS ]*/

.btn {
  color: var(--theme-color-black);
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 0.375rem;
}

.btn:hover {
  color: var(--theme-color-green);
}

.btn-primary {
  color: var(--theme-color-white);
  border-color: var(--theme-color-green);
  background-color: var(--theme-color-green);
}

.btn-primary:hover {
  color: #e3e3e3;
  border-color: #65a91d;
  background-color: #65a91d;
}

.btn-check:active+.btn-primary,
.btn-check:checked+.btn-primary,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  border-color: #65a91d;
  background-color: #65a91d;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
  color: #e3e3e3;
  border-color: #65a91d;
  background-color: #65a91d;
}

.btn-secondary {
  color: var(--theme-color-white);
  border-color: var(--color-grey);
  background-color: var(--color-grey);
}

.btn-secondary:hover {
  color: var(--color-grey);
  border-color: var(--theme-color-white);
  background-color: var(--color-yellow);
}

.btn-xl {
  text-transform: uppercase;
  padding: 14px 32px;
}

.btn:focus,
.btn-close:focus {
  box-shadow: none !important;
}

.btn-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0 !important;
  border-radius: 50%;
}

/*//////////////////////////////////////////////////////////////////
[ BASE STYLES ]*/

.ff-main {
  font-family: var(--theme-font-main) !important;
}

.ff-title {
  font-family: var(--theme-font-title) !important;
}

.fw-light,
.fw-300 {
  font-weight: var(--theme-fw-light) !important;
}

.fw-normal,
.fw-400 {
  font-weight: var(--theme-fw-regular) !important;
}

.fw-medium,
.fw-500 {
  font-weight: var(--theme-fw-medium) !important;
}

.bg-img {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-white {
  color: var(--theme-color-white) !important;
}

.color-green {
  color: var(--theme-color-green) !important;
}

.color-light-gray {
  color: var(--theme-color-gray-light) !important;
}

.fz-34 {
  font-size: 2.4rem;
}

.fz-27 {
  font-size: 2rem;
}

.fz-25 {
  font-size: 1.75rem;
}

.fz-17 {
  font-size: 1.25rem;
}

.fz-15 {
  font-size: 1rem;
}

.fz-12 {
  font-size: 1rem;
}

.fz-11 {
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .fz-34 {
    font-size: 3.4rem;
  }

  .fz-27 {
    font-size: 2.7rem;
  }

  .fz-25 {
    font-size: 2.5rem;
  }

  .fz-17 {
    font-size: 1.75rem;
  }

  .fz-15 {
    font-size: 1.5rem;
  }

  .fz-12 {
    font-size: 1.25rem;
  }

  .fz-11 {
    font-size: 1.2rem;
  }
}

.nav-link {
  color: var(--theme-color-black);
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--theme-color-green);
}

.sidebar-nav .nav-link {
  padding-left: 0;
}

.nav-underline {
  --bs-nav-underline-gap: 1rem 60px;
  --bs-nav-underline-border-width: 1px;
  --bs-nav-underline-link-active-color: var(--bs-emphasis-color);
  gap: var(--bs-nav-underline-gap);
}

.nav-underline .nav-link {
  padding: 0;
  border-bottom: var(--bs-nav-underline-border-width) solid transparent;
  border-color: rgba(111, 186, 31, 0.3);
}

.nav-underline .nav-link:focus,
.nav-underline .nav-link:hover {
  border-color: currentcolor;
}

.nav-underline .nav-link.active,
.nav-underline .show>.nav-link {
  font-weight: 500;
  color: var(--bs-nav-underline-link-active-color);
  border-color: currentcolor;
}

.bg-color-light-grey {
  background-color: #EBEEF2;
}

.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.m-25 {
  margin: 6.25rem!important;
}

.mx-25 {
  margin-right: 6.25rem!important;
  margin-left: 6.25rem!important;
}

.my-25 {
  margin-top: 6.25rem!important;
  margin-bottom: 6.25rem!important;
}

.mt-25 {
  margin-top: 6.25rem!important;
}

.me-25 {
  margin-right: 6.25rem!important;
}

.mb-25 {
  margin-bottom: 6.25rem!important;
}

.ms-25 {
  margin-left: 6.25rem!important;
}

.p-25 {
  padding: 6.25rem!important;
}

.px-25 {
  padding-right: 6.25rem!important;
  padding-left: 6.25rem!important;
}

.py-25 {
  padding-top: 6.25rem!important;
  padding-bottom: 6.25rem!important;
}

.pt-25 {
  padding-top: 6.25rem!important;
}

.pe-25 {
  padding-right: 6.25rem!important;
}

.pb-25 {
  padding-bottom: 6.25rem!important;
}

.ps-25 {
  padding-left: 6.25rem!important;
}

.svg-icon {
  max-width: 100%;
  height: auto;
}

.inline-icon {
  vertical-align: baseline;
  transition: 0.3s ease;
}

a:hover ~ .inline-icon {
  transform: translate(4px, -4px);
}

@media screen and (min-width: 992px) {
  .border-lg-start {
    border-left: 1px solid #dee2e6 !important;
  }
}

/*//////////////////////////////////////////////////////////////////
[ CONTENT ]*/

/*//////////////////////////////////////////////////////////////////
[ HEADER ]*/

.header {
  padding: 40px 0;
}

/*------------------------------------------------------------------
[ Header logo ]*/

.header-logo {
  width: 190px;
}

.header-logo img {
  max-width: 100%;
  height: auto;
}

.header:not(.header-transparent) .header-logo .logo-white {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-logo {
    width: 250px;
  }
}

/*------------------------------------------------------------------
[ Header menu ]*/

.header-nav {
  display: flex;
}

.main-menu ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.main-menu > ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-menu ul li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 20px 0;
}

.main-menu a {
  display: inline;
  color: var(--theme-color-black);
  font-family: var(--theme-font-main);
  font-size: 19px;
  font-weight: 300;
  padding: 0;
  padding-bottom: 2px;
  text-decoration: none;
  background: linear-gradient(currentColor, currentColor) 0 100% no-repeat;
  background-size: 0 1px;
  transition: background-size .45s ease-in-out;
}

.main-menu a:hover {
  color: var(--theme-color-green);
  background-size: 100% 1px;
}

.main-menu li.active > a {
  color: var(--theme-color-green);
  background-size: 100% 1px;
}

@media screen and (max-width: 1199px) {
  .main-menu {
    display: none;
  }
}

/*------------------------------------------------------------------
[ Header menu dropdown ]*/

.main-menu ul.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--theme-color-white);
  visibility: hidden;
  min-width: 280px;
  width: max-content;
  padding: 12px;
  left: 0;
  opacity: 0;
  z-index: -1;
  border: none;
  box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
  border-radius: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.4s ease 0s;
}

.main-menu ul li:hover > ul.sub-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
  z-index: 9;
}

.main-menu ul.sub-menu li {
  display: block;
  padding: 10px 10px;
}

.main-menu ul.sub-menu a {
  font-size: 16px;
}

.main-menu ul.sub-menu li.active > a {
  pointer-events: none;
}

/*------------------------------------------------------------------
[ Header buttons ]*/

.header-btn-group {
  display: flex;
  gap: 12px;
  margin-left: 20px;
}

.header-btn-group .btn-search {
  padding: 0;
  border: none;
  box-shadow: none !important;
}

.header-btn-group .btn-mobile-menu {
  padding: 0;
  border: none;
  box-shadow: none !important;
}

@media screen and (min-width: 768px) {
  .header-btn-group {
    gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .header-btn-group .btn-mobile-menu {
    display: none;
  }
}

/*------------------------------------------------------------------
[ Header transparent ]*/

.header-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1024;
}

.header-transparent .header-logo .logo-black {
  display: none;
}

.header-transparent .main-menu > ul > li > a {
  color: var(--theme-color-white);
}

.header-transparent .main-menu > ul > li > a:hover {
  color: var(--theme-color-green);
  background-size: 100% 1px;
}

.header-transparent .main-menu li.active > a {
  color: var(--theme-color-green);
  background-size: 100% 1px;
}

.header-transparent .header-btn-group .btn {
  color: var(--theme-color-white);
}

.header-transparent .header-btn-group .btn:hover {
  color: var(--theme-color-green);
}

/*------------------------------------------------------------------
[ Offcanvas Search ]*/

.offcanvasSearch {
  height: fit-content;
  background-color: rgb(255 255 255 / 95%);
}

.offcanvasSearch .offcanvas-header {
  justify-content: flex-end;
}

.offcanvasSearch .form-search {
  margin-bottom: 3rem;
}

.offcanvasSearch .item-search {
  margin-bottom: 3rem;
}

.offcanvasSearch .item-search .item-title a {
  border-bottom: 1px solid;
  border-color: rgba(111, 186, 31, 0.3);
}

.offcanvasSearch .item-search .item-title a:hover {
  border-color: var(--theme-color-green);
}

.offcanvasSearch .item-search .item-img {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .offcanvasSearch .item-search {
    padding: 12px;
  }
}

/*------------------------------------------------------------------
[ Offcanvas Mobile Menu ]*/

.offcanvasMobileMenu .offcanvas-header {
  justify-content: flex-end;
}

.offcanvasMobileMenu {
  background-color: rgb(255 255 255 / 95%);
}

.mobile-menu ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.mobile-menu ul li {
  list-style-type: none;
  display: block;
  position: relative;
  margin: 0;
}

.mobile-menu a {
  display: inline-block;
  font-family: var(--theme-font-main);
  font-size: 15px;
  font-weight: 300;
  padding: 6px 0;
  text-decoration: none;
}

.mobile-menu li.active > a {
  color: var(--theme-color-green);
}

/* mobile menu dropdowns */

.mobile-menu .menu-item-has-children {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu .btn-dropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-color: #dee2e6;
}

.mobile-menu .btn-dropdown .svg-icon {
  transition: all 0.3s ease;
}

.mobile-menu li.dropdown-active .btn-dropdown .svg-icon {
  transform: rotate(180deg);
}

.btn-dropdown .icon-chevron-down {
  width: 12px;
}

.mobile-menu ul.sub-menu {
  flex-basis: 100%;
  flex-grow: 1;
  display: none;
  overflow: hidden;
  padding-left: 20px;
}

/* offcanvas */

.offcanvas-footer {
  padding: 1rem 1rem;
}

.social-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

/*//////////////////////////////////////////////////////////////////
[ FOOTER ]*/

.footer {
  position: relative;
  padding: 40px 0 10px;
}

.footer-top {
  padding: 40px 0;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.footer-middle {
  padding: 25px 0;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-widget ul.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.footer .social-menu {
  justify-content: center;
  margin-bottom: 30px;
}

.copyright-text {
  color: #212529;
  opacity: 0.6;
}

@media screen and (min-width: 992px) {
  .footer {
    padding: 100px 0 35px;
  }

  .footer-top {
    padding: 30px 0;
  }

  .footer-middle {
    padding: 40px 0;
  }

  .footer .social-menu {
    justify-content: flex-end;
  }
}

/*//////////////////////////////////////////////////////////////////
[ MAIN CONTENT ]*/

/* section */

.section {
  margin-bottom: 90px;
}

.section:last-child {
  margin-bottom: 0 !important;
}

.section-heading {
  margin-bottom: 60px;
}

.section-title .icon-link-arrow {
  width: 34px;
}

@media screen and (max-width: 1199px) {
  .section-title .icon-link-arrow {
    width: 24px;
  }
}

@media screen and (max-width: 767px) {
  .section-title .icon-link-arrow {
    width: 22px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 160px;
  }
}

/* swiper */

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  display: block;
  width: 18px;
  height: 27px;
  margin-top: -13.5px;
  opacity: .5;
  background: url(../images/arr.png) no-repeat;
  background-size: contain;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: none;
  display: none;
}

.swiper-button-next {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

/* section-hero-title */

.section-hero-title {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .section-hero-title {
    margin-bottom: 100px;
  }
}

/* section-hero-img */

.section-hero-img {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 450px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero-img .hero-heading {
  position: relative;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 50;
}

.section-hero-img .hero-heading > .container {
  max-width: 1000px;
}

@media screen and (min-width: 768px) {
  .section-hero-img {
      min-height: 100vh;
  }

  .hero-subtitle {
    font-size: 24px;
    font-weight: 300;
  }
}

/*//////////////////////////////////////////////////////////////////
[ PAGES ]*/


/*//////////////////////////////////////////////////////////////////
[ PAGE INDEX.HTML ]*/

/* section-hero-video */

.section-hero-video {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 450px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-hero-video .bg-video {
  position: absolute;
  width: 100%;
  height: 100%;
}

.section-hero-video .bg-video .video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay-border-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}

.overlay-border-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.section-hero-video .hero-heading {
  position: relative;
  margin-bottom: 100px;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 50;
}

.section-hero-video .hero-heading .container {
  max-width: 1080px;
}

@media screen and (min-width: 768px) {
  .section-hero-video {
    min-height: 100vh;
  }

  .section-hero-video .hero-heading {
    margin-bottom: 280px;
  }
}

/* section-our-features */

.section-our-features {
  overflow: hidden;
}

.icon-feature-production {
  margin-bottom: 12px;
}

.icon-feature-production svg {
  max-width: 100%;
  height: auto;
}

.img-mask-1 {
  float: right;
  width: 180%;
}

.img-mask-2 {
  width: 180%;
}

.img-mask-3 {
  width: 200%;
  margin-left: -50%;
}

@media screen and (max-width: 767px) {
  .icon-feature-production svg {
    width: 38px;
  }
}

@media screen and (min-width: 768px) {
  .img-mask-1 {
    float: none;
    width: auto;
  }

  .img-mask-2 {
    width: auto;
  }

  .img-mask-3 {
    width: auto;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .margin-top-box {
    margin-top: -350px;
  }

  .color-xl-white {
    color: var(--theme-color-white);
  }
}

/* section-big-brands */

.section-big-brands .section-text {
  max-width: 600px;
  margin-bottom: 44px;
}

.card-big-brand {
  border: none;
  background-color: transparent;
}

.card-big-brand .card-img {
  max-width: 100%;
  height: auto;
  border-radius: 0 !important;
}

.card-big-brand .card-title {
  text-align: center;
}

/* section-history */

.section-history .nav-underline {
  margin-bottom: 32px;
}

.section-history .tab-pane .tab-text {
  max-width: 900px;
  margin-bottom: 46px;
}

/* .historySwiper {
  padding: 0 20px;
} */

.historySwiper .swiper-slide {
  width: 320px;
}

.historySwiper .swiper-button-prev {
  left: 0;
}

.historySwiper .swiper-button-next {
  right: 0;
}

/* card-history */

.card-history {
  border: none;
  background-color: transparent;
}

.card-history .card-body {
  padding: 0;
}

.card-history .card-date {
  margin-bottom: 54px;
}

.card-history .card-year {
  font-size: 29px;
  font-weight: 300;
  letter-spacing: 0.005em;
  margin-bottom: 5px;
}

.card-history .card-month {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 0;
}

.card-history .card-icon {
  position: relative;
  margin-bottom: 77px;
}

/* .card-history .card-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #6FBA1F4D;
} */

.card-history .card-text {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.01em;
  padding-right: 2rem;
}

@media screen and (min-width: 768px) {
  .section-history .nav-underline {
    margin-bottom: 71px;
  }

  .historySwiper {
    padding: 0 50px;
  }

  .historySwiper .swiper-slide {
    width: 420px;
  }

  .card-history .card-date {
    margin-bottom: 111px;
  }

  .card-history .card-text {
    font-size: 24px;
  }
}

/* section-partners */

.partners-area:not(:last-child) {
  margin-bottom: 60px;
}

.partner-img {
  height: 80px;
  line-height: 80px;
  margin-bottom: 1.5rem;
  text-align: center;
}

.partner-img img {
  max-width: 100%;
  height: auto;
}

/* section-blog-slider */

.card-blog-slider {
  border: none;
  background-color: transparent;
}

.card-blog-slider .card-img-wrapper {
  position: relative;
  overflow: hidden;
  height: 240px;
  border-radius: calc(0.25rem - 1px);
  margin-bottom: 31px;
}

.card-blog-slider .card-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 !important;
  transition: 0.3s ease;
}

.card-blog-slider .card-img-wrapper:hover .card-img {
  transform: scale(1.1);
}

.card-blog-slider .card-body {
  padding-top: 0;
}

.card-blog-slider .card-date {
  color: #B8B8B8;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
}

.card-blog-slider .card-title {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 12px;
}

@media screen and (min-width: 992px) {
  .card-blog-slider .card-title {
    margin-bottom: 26px;
  }
}

/* section-map */

.section-map {
  position: relative;
  padding: 60px 0;
  background-color: #e2e2e2;
}

/* map */

.map-spacer {
  height: 0;
}

.app-google-maps {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50vw;
}

.app-google-maps::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 14px;
  display: block;
  width: 180px;
  background: linear-gradient(90deg, hsla(0, 0%, 89%, 0) 0, #e2e2e2 80%);
}

@media screen and (min-width: 768px) {
  .map-spacer {
    height: 600px;
  }
}

@media screen and (min-width: 992px) {
  .map-spacer {
    height: 710px;
  }
}

/* mapSwiper */

.mapSwiper-area {
  position: relative;
}

.mapSwiper-area .swiper-button-next {
  right: -30px;
}

.mapSwiper-area .swiper-button-prev {
  left: -30px;
}

@media screen and (min-width: 768px) {
  .mapSwiper-area .swiper-button-next {
    right: -20px;
  }
  
  .mapSwiper-area .swiper-button-prev {
    left: -20px;
  }
}

@media screen and (min-width: 992px) {
  .mapSwiper-area .swiper-button-next {
    right: -50px;
  }
  
  .mapSwiper-area .swiper-button-prev {
    left: -50px;
  }
}

/* card-map-item */

.card-map-item {
  border: none;
  background-color: transparent;
}

.card-map-item .card-body {
  padding: 0;
}

.card-map-item .card-title {
  margin-bottom: 1.5rem;
}

.card-map-item .card-subtitle {
  margin-bottom: 1.5rem;
}

.card-map-item .card-fact {
  margin-bottom: 2rem;
}

.card-map-item .card-fact .fact-icon-area,
.card-map-item .card-fact .fact-text-area {
  display: inline-block;
  vertical-align: bottom;
}

.card-map-item .card-fact .fact-icon-area {
  margin-right: 15px;
}

.card-map-item .card-img-wrapper {
  margin-bottom: 2rem;
}

.card-map-item .card-map-link,
.card-map-item .card-phones {
  margin-bottom: 15px;
}

/*//////////////////////////////////////////////////////////////////
[ PAGE BRANDS.HTML ]*/

.brand-about {
  margin-bottom: 42px;
}

.card-product {
  text-align: center;
  border: none;
  border-radius: 0;
  word-wrap: normal;
  background-color: transparent;
}

.card-product .card-img {
  max-width: 260px;
  margin: 0 auto;
  border-radius: 0 !important;
  transform: scale(1) rotate(-2deg);
  transition: 0.3s ease;
}

.card-product:hover .card-img {
  transform: scale(1.05) rotate(0);
}

.card-product .card-title {
  font-family: var(--theme-font-title);
}

.brand-products-nav-area {
  margin-bottom: 42px;
}

@media screen and (min-width: 768px) {
  .card-product .card-title {
    font-size: 24px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ PAGE BLOG.HTML ]*/

/* cards-wrap */

.blog-cards-wrap .card-blog-big {
  margin-bottom: 41px;
}

.blog-cards-wrap .card-blog-big:last-child {
  margin-bottom: 0;
}

/* card-blog-big */

.card-blog-big {
  border: none;
  background-color: transparent;
}

.card-blog-big .card-img-wrapper {
  position: relative;
  overflow: hidden;
  height: 240px;
  border-radius: calc(0.25rem - 1px);
  margin-bottom: 31px;
}

.card-blog-big .card-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 !important;
  transition: 0.3s ease;
}

.card-blog-big .card-img-wrapper:hover .card-img {
  transform: scale(1.1);
}

.card-blog-big .card-body {
  padding: 0;
}

.card-blog-big .card-date {
  color: #B8B8B8;
  font-size: 15px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 20px;
}

.card-blog-big .card-title {
  font-size: 19px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 4px;
}

@media screen and (min-width: 992px) {
  .blog-cards-wrap .card-blog-big {
    margin-bottom: 65px;
  }

  .card-blog-big .card-img-wrapper {
    height: 360px;
    margin-bottom: 48px;
  }

  .card-blog-big .card-date {
    margin-bottom: 10px;
  }

  .card-blog-big .card-title {
    font-size: 29px;
    margin-bottom: 4px;
  }

  .card-blog-big .card-text {
    font-size: 19px;
  }
}

/* cards-wrap */

.page-sidebar .blog-cards-wrap .card-blog-small {
  margin-bottom: 41px;
}

.page-sidebar .blog-cards-wrap .card-blog-small:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 992px) {
  .blog-cards-wrap {
    padding: 20px;
  }
  
  .page-content .blog-cards-wrap {
    padding-left: 0;
  }

  .page-sidebar .blog-cards-wrap {
    padding-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .blog-cards-wrap {
    padding: 60px;
  }
}

/* card-blog-small */

.card-blog-small {
  border: none;
  background-color: transparent;
}

.card-blog-small .card-img-wrapper {
  position: relative;
  overflow: hidden;
  height: 240px;
  border-radius: calc(0.25rem - 1px);
  margin-bottom: 31px;
}

.card-blog-small .card-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0 !important;
  transition: 0.3s ease;
}

.card-blog-small .card-img-wrapper:hover .card-img {
  transform: scale(1.1);
}

.card-blog-small .card-body {
  padding: 0;
}

.card-blog-small .card-title {
  font-size: 19px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
}

.card-blog-small .card-title .icon-link-arrow {
  flex-shrink: 0;
  width: 29px;
}

@media screen and (max-width: 991px) {
  .card-blog-small .card-img-wrapper {
    display: none;
  }

  .card-blog-small .card-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }
}

@media screen and (min-width: 992px) {
  .card-blog-small .card-img-wrapper {
    height: 250px;
    margin-bottom: 21px;
  }

  .card-blog-small .card-title {
    font-size: 24px;
  }

  .card-blog-small .card-title a {
    border-bottom: 1px solid;
    border-color: rgba(111, 186, 31, 0.3);
  }

  .card-blog-small .card-title a:hover {
    border-color: var(--theme-color-green);
  }

  .card-blog-small .card-title .icon-link-arrow {
    display: none;
  }
}

/* pagination */

.navigation-pagination {
  margin-top: 60px;
}

.navigation-pagination ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navigation-pagination ul li .page-numbers {
  display: inline-block;
  padding: 2px 9px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navigation-pagination ul li .current {
  color: var(--theme-color-green);
  font-weight: 400;
  border-color: transparent;
}

@media screen and (min-width: 992px) {
  .navigation-pagination ul {
    gap: 24px;
  }

  .navigation-pagination ul li .page-numbers {
    padding: 2px 12px;
    font-size: 24px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ PAGE GDE-KUPIT.HTML ]*/

.section-partnership {
  min-height: 600px;
  padding: 90px 0;
}

@media screen and (min-width: 992px) {
  .section-partnership {
    min-height: 700px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ PAGE PARTNERS.HTML ]*/

/*//////////////////////////////////////////////////////////////////
[ PAGE AKCII.HTML ]*/

.section-cta-insta {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-height: 550px;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-relative-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 70px;
  z-index: 10;
}

.section-cta-insta .btn-primary {
  position: relative;
  width: 100%;
  padding: 12px 16px;
  max-width: 338px;
  text-transform: uppercase;
  margin-top: 250px;
}

.section-img-absolute {
  position: absolute;
  bottom: 60px;
  left: 55%;
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 991px) {
  .section-img-absolute {
    display: none;
  }

  .section-cta-insta .btn-primary::before {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 182px;
    height: 236px;
    background-image: url(../images/action-phones-small.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
}

@media screen and (min-width: 992px) {
  .section-cta-insta {
      min-height: 850px;
  }

  .section-relative-wrapper {
    margin-bottom: 190px;
  }

  .section-cta-insta .btn-primary {
    margin-top: 90px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ PAGE RAZVITIE.HTML ]*/

/* section-bg-image */

.section-bg-image .image-container {
  display: flex;
  align-items: center;
  min-height: 550px;
  color: #fff;
  padding: 85px 30px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 992px) {
  .section-bg-image .image-container {
    align-items: flex-end;
    min-height: 600px;
  }
}

/* card-benefits */

.card-benefits {
  height: 100%;
  border: none;
  background-color: transparent;
}

.card-benefits .card-svg-wrapper {
  margin-bottom: 14px;
}

.card-benefits .card-body {
  padding: 0;
}

.card-benefits .card-title {
  max-width: 370px;
  font-size: 19px;
  margin-bottom: 24px;
}

.card-benefits .card-footer {
  padding: 0;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent;
}

.card-benefits .card-link {
  font-size: 16px;
}

.card-benefits .card-footer .icon-link-arrow {
  width: 20px;
  margin-left: 0.25em;
}

@media screen and (min-width: 992px) {
  .card-benefits .card-title {
    font-size: 29px;
  }

  .card-benefits .card-link {
    font-size: 24px;
  }

  .card-benefits .card-footer .icon-link-arrow {
    width: 25px;
  }
}

/* card-responsibility */

.card-responsibility {
  height: 100%;
  border: none;
  background-color: transparent;
}

.card-responsibility .card-svg-wrapper {
  margin-bottom: 25px;
}

.card-responsibility .card-body {
  padding: 0;
}

.card-responsibility .card-title {
  max-width: 370px;
  font-size: 19px;
  margin-bottom: 18px;
}

.card-responsibility .card-description {
  max-width: 380px;
  margin-bottom: 39px;
}

.card-responsibility .card-footer {
  padding: 0;
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent;
}

.card-responsibility .card-link {
  font-size: 16px;
}

.card-responsibility .card-footer .icon-link-arrow {
  width: 20px;
  margin-left: 0.25em;
}

@media screen and (min-width: 992px) {
  .card-responsibility .card-title {
    min-height: 65px;
    font-size: 24px;
  }

  .card-responsibility .card-description {
    margin-bottom: 55px;
  }

  .card-responsibility .card-link {
    font-size: 24px;
  }
  
  .card-responsibility .card-footer .icon-link-arrow {
    width: 25px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ PAGE VAKANSII.HTML ]*/

.jobSwiper {
  --swiper-navigation-size: 24px;
  --swiper-navigation-color: var(--theme-color-green);
  --swiper-pagination-color: var(--theme-color-green);
}

.jobSwiper .swiper-wrapper {
  margin-bottom: 60px;
}

.job-area .job-category {
  margin-bottom: 24px;
}

/* .job-area .job-link-area {
} */

/* .job-area .job-list {
  padding: 24px;
} */

/*//////////////////////////////////////////////////////////////////
[ PAGE PRODUCT-ITEM.HTML ]*/

.section-breadcrumb {
  margin-bottom: 40px;
}

.breadcrumb-item {
  font-family: var(--theme-font-title);
  font-size: 1.25rem;
  font-weight: 400;
}

.breadcrumb-item.active {
  color: #b8b8b8;
}

.product-link-item img {
  max-width: 100%;
  height: auto;
}

.product-detail {
  padding: 30px 0;
}

.product-detail .product-img-wrapper img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.product-attr-row {
  display: flex;
  background: radial-gradient(#888 1px,transparent 0) repeat-x left bottom 0.7rem;
  background-size: 8px 8px;
}

.product-attr-col {
  flex: 0 0 auto;
  width: 50%;
  padding-bottom: 4px;
}

.product-attr-col:last-child {
  text-align: right;
}

.attr-text {
  background-color: var(--theme-color-light);
}

.product-attr-col:first-child>.attr-text {
  padding-right: 0.5rem;
}

.product-attr-col:last-child>.attr-text {
  padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .product-detail {
    padding: 90px 0;
  }
}

/*//////////////////////////////////////////////////////////////////
[ PAGE BLOG-ITEM.HTML ]*/

.section-blog-text h2,
.section-blog-text h3,
.section-blog-text h4,
.section-blog-text h5 {
  margin-bottom: 2rem;
}

.section-blog-text p,
.section-blog-text h6 {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .section-blog-text > .container {
    max-width: 900px;
  }
}


@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1424px;
  }
}